body {
  padding-bottom: 2rem;
}

.container {
    padding-left: 0;
    /*padding-left: 250px;*/
    max-width: 1000px;
}

.header-img{
  height: 150px;
  width: auto;
}
.display-3{
  font-family: fantasy;
}

/*jumbotron*/
.jumbotron {
  background-color: orange;
  }
}

.jumbotron-fluid {
  padding: 0;
}

.italicHeader{
	font-style: italic;
}

#countTo{
  width: 40px;
}

#result {
  display: none;
}

#sidebar {
    position:absolute;;
    left: 0px;
    width: 300px;
    height: 100%;
    background: green;
    font-family:fantasy;
  }

.sidebarNav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebarNav li {
  text-indent: 10px;
  font-family: fantasy;
}

.sidebarHeader {
  font-size: 25px;
  font-weight:bolder;
  line-height: 60px;
}

.sidebarTitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.sidebarDetail{
  line-height: 25px;
  font-size: 15px;
  font-style: italic;
}

.techList{
  list-style: none;
}

#pageContent {
    width: 100%;
    position: absolute;
    padding-left: 300px;
}
