#result {
  display: none;
}

body {
  padding-bottom: 2rem;
}
.container {
	max-width: 1000px;
}

.header-img{
  height: 150px;
  width: auto;
}
.display-3{
  font-family: fantasy;
}

.jumbotron {
  background-color: orange;
  /*@include border-radius($border-radius-lg);

  @include media-breakpoint-up(sm) {
    padding: ($jumbotron-padding * 2) $jumbotron-padding;*/
  }
}

.jumbotron-hr {
  border-top-color: darken($jumbotron-bg, 10%);
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  /*@include border-radius(0);*/
}

.ital-header{
	font-style: italic;
}

.side-bar{
  background-color: green;
  color: white;
}

#countTo{
  width: 30px;
}
